@media screen and (max-width: 576px) {
    footer {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .icons-social {
        justify-content: center;
    }

    .icon-social {
        margin-left: 15px;
    }

    .footer-text {
        font-size: 14px;
        line-height: 18px;
    }

    .rights-576,
    .politics {
        font-size: 10px;
        line-height: 13px;
        color: #6C6C6C;
    }

    .politics {
        margin: 60px 15px 20px 0;
    }

    .p-under-in-footer {
        font-size: 12px;
        line-height: 16px;
    }

    .how-work {
        flex-direction: column;
        margin: 0 20vw;
    }

    .group {
        padding: 35px 10px;
        margin: 58px 0;
    }

    .search-nayti {
        padding: 12px 37px 12px 37px;
    }

    .inscription {
        font-size: 18px;
        line-height: 23px;
    }

    .line {
        margin: 0 15px 0 15px;
    }

    .line2 {
        margin: 80px 15px 0 15px;
    }

    header {
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo {
        padding: 15px 8px;
    }

    .p-under {
        display: none;
    }

    .p-under-576 {
        display: flex;
        margin: 19px 15px 27px 25px;
        text-align: left;
    }

    .search-box,
    .search,
    .search-btn,
    .search-clue {
        display: none;
    }

    .search-wrapper-576 {
        display: block;
        margin: 20px 25px 0px 15px;
    }

    .search-box-576 {
        position: relative;
    }

    .search-576 {
        background: #FAFAFA;
        border-radius: 30px;
        padding: 12px 345px 12px 28px;
        border: none;
    }


    .search-btn-576 {
        position: absolute;
        top: 0;
        right: 0;
        background: #67BC5E;
        color: #FFFFFF;
        border: none;
        padding: 3px 28px 3px 28px;
        max-width: 110px;
        border-radius: 30px;
        font-weight: bold;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
    }

    .search-clue-576 {
        font-size: 12px;
        line-height: 16px;
        color: #BABABA;
    }

    .rights {
        display: none;
    }

    .rights-576 {
        display: inline-block;
        margin: 60px 58px 20px 15px;
    }

    .pr-576 {
        display: flex;
        justify-content: space-between;
    }

    .header-btns-icon {
        margin-left: 15px;
        vertical-align: text-top;
    }

    .nav-elements {
        display: flex;
        overflow-x: scroll;
    }

    nav a {
        display: block;
        white-space: nowrap;
        margin-bottom: 0;
    }

    *::-webkit-scrollbar {
        width: 12px;
        /* ширина scrollbar */
    }

    *::-webkit-scrollbar-track {
        background: #f6f6f6;
        /* цвет дорожки */
    }

    *::-webkit-scrollbar-thumb {
        background-color: #dee0e8;
        /* цвет плашки */
        border-radius: 20px;
        /* закругления плашки */
        border: 3px solid #f6f6f6;
        /* padding вокруг плашки */
    }
}
